SUPABASE_URL=https://trcbdmocvhtpnarnwrei.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRyY2JkbW9jdmh0cG5hcm53cmVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNzQ0NzEsImV4cCI6MjA5NDg1MDQ3MX0.LlXLF0ZBBptXF3ms1BXHHCsMPklxcTPq40uAJtu2NMM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRyY2JkbW9jdmh0cG5hcm53cmVpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTI3NDQ3MSwiZXhwIjoyMDk0ODUwNDcxfQ.bu9ub69zqgLGrImdUb1ni5YSXaggRpvmYNiJ1NtdUKQ
RESEND_API_KEY=re_X56RD2hQ_MYkpdrXGoWSyjfk4oTerSSkc
RESEND_FROM=contact@amazonlogisics.com

PUBLIC_APP_URL=http://localhost:5173
ADMIN_EMAIL=admin@gmail.com
PUBLIC_APP_URL=https://amazonlogisics.com

